<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Text Me Plz - Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register Templates</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href=//favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Text Me Plz - Login</h1>
                            <div class="description">
                                <p>
                                    If you have an account, please log in.</br>
                                    If you don't have an account, registration is free and comes with five free messages.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-left">
                            {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Error: </strong>{{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">

                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Login</h3>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="/login" method="post" class="login-form">
                                        {{ login_form.csrf_token }}
                                        {% for field in login_form %}
                                            <div class="form-group">
                                                <label class="sr-only" for="{{ field.name }}">{{ field.label.text }}</label>
                                                {{ field(class_='form-email form-control', placeholder=field.label.text) }}
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn">Log In</button>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5">

                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Register</h3>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="/register" method="post" class="registration-form">
                                        {{ registration_form.csrf_token }}
                                        {% for field in registration_form %}
                                            <div class="form-group">
                                                <label class="sr-only" for="{{ field.name }}">{{ field.label.text }}</label>
                                                {{ field(class_='form-email form-control', placeholder=field.label.text) }}
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn">Register</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="footer-border"></div>
                        <p><strong>Text Me Plz</strong> - Because Emails are Dumb</p>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

        <!--[if lt IE 10]>
            <script src="{{ url_for('static', filename='assets/js/placeholder.js') }}"></script>
        <![endif]-->

    </body>

</html>
