<div class="row">

    <div class="col-md-7">
        <div class="well buffer-25">
            <h2>User</h2>
            <dl class="dl-horizontal">
                <dt>Username</dt>
                <dd>{{ acctCtrl.data.administrative.username }}</dd>

                <dt>Name</dt>
                <dd>{{ acctCtrl.data.administrative.full_name|titlecase }}</dd>

                <dt>Notification Email</dt>
                <dd>{{ acctCtrl.data.metadata.mailhook_id }}@mg.textmeplz.com</dd>

                <div ng-show="acctCtrl.data.metadata.phone_numbers.length === 0">
                    <dt>Number</dt>
                    <dd>No number has been added.</dd>
                </div>


                <div ng-show="acctCtrl.data.metadata.phone_numbers.length > 0"
                     ng-repeat="number in acctCtrl.data.metadata.phone_numbers track by $index">
                    <dt>Number</dt>
                    <dd>{{ number }} - <a ng-click="acctCtrl.deleteNumber(number)"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a></dd>
                </div>
            </dl>

            <h4>Add Number</h4>
            <div class="number-form">
                <p class="text-info"><strong>Note:</strong> Only US and Canadian Numbers are supported at this time.</p>
                <form name="numberForm" class="form-inline">
                    <div style="margin-bottom: 10px;">
                      <div class="form-group">
                        <label for="inputPhone">Phone Number</label>
                        <input type="text" class="form-control" ng-minlength="10" ng-maxlength="10"  id="inputPhone" name="phone" placeholder="Phone" ng-model="acctCtrl.phoneNumberInput" ng-required="true" ng-model-options="{ debounce: 500 }">
                      </div>
                      <button type="button" class="btn btn-primary" ng-disabled="numberForm.$invalid" ng-click="acctCtrl.addNumber()"><i class="fa fa-phone"></i>&nbsp;&nbsp;Add Number</button>
                    </div>
                    <alert ng-show="numberForm.phone.$error.minlength || numberForm.phone.$error.maxlength" type="danger">Please enter a valid 10-digit phone number.</alert>
                    <alert ng-show="numberForm.phone.$error.number" type="danger">Please ensure the number contains only digits (no dashes or spaces).</alert>
                </form>
            </div>
        </div>

        <div class="well buffer-25">
            <h2>Account</h2>
            <p class="text-info" ng-show="acctCtrl.isActive"><strong>Note:</strong> Deactivating your account suspends MMS alerts until it's re-activated.</p>
            <p class="text-info" ng-show="!acctCtrl.isActive"><strong>Hey!</strong> Your account is inactive, so you won't receive text notifications until you re-activate it.</p>
            <dl class="dl-horizontal">
                <dt>Status</dt>
                <dd ng-class="{'text-danger': !acctCtrl.isActive}">{{ acctCtrl.isActive ? 'Active' : 'Inactive' }}</dd>
            </dl>

            <button type="button" class="btn btn-success"
                    ng-hide="acctCtrl.isActive"
                    ng-click="acctCtrl.activate()">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Activate</button>
            <button type="button" class="btn btn-warning"
                    ng-show="acctCtrl.isActive"
                    ng-click="acctCtrl.deactivate()">
                <i class="fa fa-times"></i>&nbsp;&nbsp;Deactivate</button>
        </div>

        <div class="well buffer-25">
            <h2>Messages</h2>
            <dl class="dl-horizontal">
                <dt>Messages Remaining</dt>
                <dd>{{ acctCtrl.data.metadata.messages_remaining }}</dd>
            </dl>

            <p ng-show="acctCtrl.data.metadata.messages_remaining == 0">Looks
                like you're out of messages. Would you like to recharge?</p>

            <p ng-show="acctCtrl.data.metadata.messages_remaining <= 10 && acctCtrl.data.metadata.messages_remaining > 0">
                You're running low on messages. Would you like to get more?</p>
            <a href="/app#/account/recharge"><button type="button" class="btn btn-sm btn-primary"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Get More Messages</button></a>
        </div>

        <div class="well buffer-25">
            <h2>Account Reset</h2>
            <p>Occasionally, notifications fail to be delivered to Text Me Plz by Netgear. Resetting your account can resolve this issue.  Reset should be considered after MMS messages consistently fail to be delivered.</p>
            <p class="text-warning"><strong>Caution:</strong> You will receive a new notification email and you will have to update your notification settings in the Arlo control panel. Please use this as a last resort.</p>
            <button type="button" class="btn btn-danger" style="" ng-click="acctCtrl.resetAccount()">
                <i class="fa fa-refresh" ng-class="{'fa-spin': acctCtrl.resetting}"></i>&nbsp;&nbsp;Reset Account
            </button>
        </div>

        <div class="well buffer-25">
            <h2>Transactions</h2>

            <p ng-show="acctCtrl.data.metadata.transactions.length === 0">None.</p>

            <div class="transactions"
                 ng-show="acctCtrl.data.metadata.transactions.length > 0">
                <dl class="dl-horizontal" ng-repeat="trans in acctCtrl.data.metadata.transactions track by $index">
                    <dt>When</dt>
                    <dd>{{ trans.created * 1000 | date:'MM/dd/yyyy HH:mm:ss' }}</dd>

                    <dt>Amount</dt>
                    <dd>{{ trans.amount / 100 | currency }}</dd>
                </dl>
            </div>
        </div>

    </div>

    <div class="col-md-5">
        <div class="well">

            <section>
                <h2>How does this work?</h2>

                <p>
                    <strong>First</strong> add a phone number to your account. Multiple numbers are supported, but we only suppoort US and Canadian numbers at this time.
                </p>

                <p>
                    <strong>Next</strong>, take the <em>notification email</em> address that we've provided, and use it as a notification email in Arlo.  Your <em>notification email</em> is something we give you, which is located just to the left under your user details. To add this as an email in your Arlo account, follow these steps:
                </p>
                <ol>
                    <li>Log into Arlo.</li>
                    <li>Go to <strong>Settings.</strong></li>
                    <li>Go to <strong>Rules.</strong></li>
                    <li>You'll be presented with a list of camera zones and/or rules. For each <em>rule</em>, add your Text Me Plz <em>notification email</em>.</li>
                    <li>Click <strong>Save</strong>.  For each email you added to a rule, you'll receive motion alerts in that zone.</li>
                </ol>

                <p>
                    <strong>Now</strong> you'll choose to either keep your account <em>deactivated</em> or <em>activate</em> your account.  When your account is <em>active</em>, you receive alerts.  When deactivated, you'll received nothing.
                </p>

                <p>
                    <strong>Last</strong>, when you run out of messages, <a href="/app#/account/recharge">recharge your account</a>.
                </p>

                <p>
                    New users get five free messages.
                </p>

                <p>
                    Do you have any questions?  Let us know by <a href="mailto:support@textmeplz.com">contacting support</a>.
                </p>
            </section>

        </div>
    </div>

</div>
